
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="jumbotron" class="jumbotron">
      <div class="container">
        <h1>Work in Analytics</h1>
        <h2>Find a great career in the Analytics Industry Today!</h2>
        <p>This is a great website for anyone looking for analytics jobs in the <b>ANALYTICS INDUSTRY</b>. Don't search an endless list of website with only a few job postings.Our staff is dedicated to finding every open analytics job on the web</p>
        <p><a class="btn btn-danger btn-lg" role="button" data-toggle="modal" data-target="#myModal">Learn more &raquo;</a></p>


  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-hidden="true">x</button>
    <iframe width="560" height="315" src="//www.youtube.com/embed/rYnbWFaYynk?list=UULNn0ycO_dxKVRx0vz_Qfkg" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


        <h1><span class="glyphicon glyphicon-thumbs-up"></span></h1>
        
      </div>
    </div>


    <div id="who">
      <div class="container homepage">
        <%= image_tag("https://dl.dropbox.com/s/qjnve7d53sndihh/gamages1.jpeg") %>
        <h2>Who we Are </h2>
        <hr>
        <p> DUMMY TEXT We are Work in analytics we have staff around the world who are looking great jobs around the world. Get in touch today</p>
      </div>
    </div>

    <div id="get-involved">
    <div class="container homepage">
      <h2>Get Involved</h2>
      <hr>
      <div class="row">
        <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-users fa-stack-2x"></i>
              <i class="fa fa-users fa-users-1x fa-inverse"></i>
            </span>
          <h3>About us</h3>
          <p>DUMMY TEXT We are a team based around the world,  we will help you find your dream job in web analytics . </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-rocket fa-stack-2x"></i>
              <i class="fa fa-rocket fa-users-1x fa-inverse"></i>
            </span>
          <h3>Businesses</h3>
          <p>We help <span class="emphasis">Any business around the world</span> get a unique web analytics Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec s</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-star fa-stack-2x"></i>
              <i class="fa fa-star fa-users-1x fa-inverse"></i>
            </span>
          
          <h3>Employees</h3>
          <p>DUMMY TEXT Want to work for the best companies in the world.odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
     </div> <!-- /container -->
    </div>



  
    