<footer>
        <div class="container">
            <p>&copy; Company 2014</p>
        </div>
        <div id="back-to-top">
    		  <a href="#jumbotron"><i class="fa fa-chevron-circle-up fa-3x"></i></a>
    	</div>
</footer>